S3method(plot, history_index)
S3method(print, history_array)
S3method("as.list", history_list)
S3method("as.list", history_array)
S3method("as.array", history_array)
S3method(as.array, history_list)
S3method(print, "tour_path")
exportPattern("^[^\\.]")
