export(animate)
export(andrews)
export(animate_andrews, display_andrews)
export(display_dist, animate_dist)
export(display_depth, animate_depth)
export(display_faces, animate_faces)
export(display_ggobi, animate_ggobi)
export(display_image, animate_image)
export(display_pcp, animate_pcp)
export(display_scatmat, animate_scatmat)
export(display_stars, animate_stars)
export(display_stereo, animate_stereo)
export(display_trails, animate_trails)
export(display_xy, animate_xy)
export(new_geodesic_path)
S3method(print, tour_path)
export(geodesic_path)
export(save_history)
S3method("[", history_array)
S3method("[[", history_array)
S3method(length, history_array)
S3method(str, history_array)
S3method(print, history_array)
S3method(as.list, history_list)
S3method(as.list, history_array)
S3method(as.array, history_array)
S3method(as.array, history_list)
export(holes)
export(cm)
export(lda_pp)
export(pda_pp)
export(interpolate)
export(path_curves)
S3method(plot, path_curve)
export(path_dist)
export(path_index)
S3method(plot, path_index)
export(paths_index)
export(render)
export(dependence_tour)
export(frozen_tour)
export(frozen_guided_tour)
export(freeze, thaw)
export(grand_tour)
export(basis_random)
export(basis_init)
export(guided_tour)
export(little_tour)
export(local_tour)
export(planned_tour)
export(new_tour)
export(rescale)
export(center)
export(sphere)
export(find_platform)
